
// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 10px;
}

.content {
    margin: 0 auto;
    max-width: 800px;
}

.form-errors {
    padding-left: 2.5em;
}

.timeline {
    border-left: 1px solid #333;
    clear: both;
    list-style-type: none;
    margin-left: 7rem;
    padding-left: 2rem;
    padding-top: 1rem;
}

    .timeline__post {
        border: 1px solid #bbb;
        border-radius: 0.25rem;
        margin-bottom: 1em;
        padding: 1em;
        position: relative;
    }

    .timeline__post::after {
        border-top: 1px solid #bbb;
        content: "";
        display: block;
        height: 1em;
        left: calc(-2rem - 1px);
        position: absolute;
        top: 50%;
        width: 2rem;
    }

.post {}

    .post__meta {
        margin-left: -10rem;
        position: absolute;
        text-align: right;
        top: calc(50% - 1rem); /* not right.. */
        width: 5rem;
    }

    .post__body {
    }

    .post__creator {
        display: block;
        font-size: 1.2rem;
        font-style: italic;
        text-align: right;
    }

.like-button {
    color: #ff3300;
    text-decoration: none;

    &:hover, &:active {
        text-decoration: none;

        span {
            transform: scale(1.2);
        }
    }

    span {
        transition: all 0.2s ease-in-out;
    }
}
